body{
	/*background: #99bb33;*/
}
#container{
	height: 100%;
}
header{
	text-align: center;
	padding: 5px;
}
#menu{
	font-size: 26px;
}
#mineFieldContainer{
	margin: 0 auto;
	padding: 5px;
	background: #99bb33;
}
#mineField{
	/*background: #bb9933;*/
}
.column{
	/*overflow: hidden;*/
	margin: 0 auto;
	background: #dfdfdf;
	border-style: solid;
	border-color: #333333;
	border-width: 2px;
	border-radius: 30px;
	color: rgba(0, 0, 0, 255);
	/*font-size: 20px;*/
	text-align: center;
	text-decoration: bold;
}
.mine{
	background: #ff0000;
	font-size: 0;
}
.hidden{
	background: rgba(128,128,128, 255);
}
.flag, .question{
	background: rgba(128,128,128, 255);
	color: #fedd77;
	text-decoration: bold;
	/*border-radius: 0;*/
	/*font-size: 20px;*/
}
#resetButton{
	width: 30px;
	height: 30px;
	background-image: url("../img/faces.jpg");
	background-size: 60px 60px;
	background-position: 0px 0px;
	margin: 0 auto;
}

#resetButton.win{
	background-position: 0 -29px;
}
#resetButton.dead{
	background-position: -29px -29px;
}
#resetButton.ohFace{
	background-position: -29px 0;
		color: rgba(255, 128, 0, 255);
		background-color: #000000;
}
#timer{
	/*float: right;*/
	text-align: center;
	width: 128px;
	height: 30px;
	color: #ffffff;
	background: #d76383;
	background-size: 400px 60px;
	margin: 0 auto;
}